extends ../layout/index

block contenido
    div.py-10
        h1.text-4xl.my-10.font-extrabold.text-center.text-golden Bienes 
            span.font-normal.text-black Raíces  
        h2.text-center.text-2xl.font-extrabold= pagina

        if errores 
            div(class="max-w-md mx-auto my-10")
                each error in errores
                    if error.msg
                        div.bg-redd.text-white.p-2.rounded-md.flex.items-center.justify-between.mb-2
                            p.text-sm.font-bold= error.msg
                            button.ml-2.bg-transparent.border-0.text-white(onclick="this.parentElement.style.display='none'") &times;

        .mt-8.mx-auto.max-w-md 
            .bg-white.py-8.px-4.shadow.rounded-xl
                form.space-y-5( method="POST" action="/auth/login") 
                    input(type="hidden" name="_csrf" value= csrfToken)
                    div 
                        label.block.text-sm.uppercase.text-gray-500.mb-3.font-bold(for="email") Email
                        input#email.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="Escribe tu email" type="email" name="email") 
                    div 
                        label.block.text-sm.uppercase.text-gray-500.mb-3.font-bold(for="password") Password
                        input#password.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="Escribe tu password" type="password" name="password")             
                    div.flex.items-center.justify-between 
                        a.text-gray-500.text-xs(href="/auth/registro") ¿No tienes cuenta? Crea una
                        a.text-gray-500.text-xs(href="/auth/olvide-password") Olvide mi Password


                    input(class="w-full bg-rosa hover:bg-verde text-white font-bold py-2 cursor-pointer" type="submit" value="Iniciar Sesión")    
