extends ../layout/index

block contenido
    div.py-10
        h1.text-4xl.my-10.font-extrabold.text-center.text-golden Bienes 
            span.font-normal.text-black Raíces  
        h2.text-center.text-2xl.font-extrabold= pagina

        if errores 
            div(class="max-w-md mx-auto my-10")
                each error in errores
                    if error.msg
                        div.bg-redd.text-white.p-2.rounded-md.flex.items-center.justify-between.mb-2
                            p.text-sm.font-bold= error.msg
                            button.ml-2.bg-transparent.border-0.text-white(onclick="this.parentElement.style.display='none'") &times;
        .mt-8.mx-auto.max-w-md 
            .bg-white.py-8.px-4.shadow.rounded-xl
                form.space-y-5(method="POST" action="/auth/registro" novalidate)
                    input(type="hidden" name="_csrf" value= csrfToken) 
                    div 
                        label.block.text-sm.uppercase.text-gray-500.mb-3.font-bold(for="nombre") Nombre:
                        input#nombre.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="Escribe tu nombre" type="text" name="nombre" value= usuario ? usuario.nombre : '')
                    div 
                        label.block.text-sm.uppercase.text-gray-500.mb-3.font-bold(for="email") Correo Electronico
                        input#email.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="Escribe tu correo" type="email" name="email" value= usuario ? usuario.email : '' ) 
                    div 
                        label.block.text-sm.uppercase.text-gray-500.mb-3.font-bold(for="password") Contraseña
                        input#password.w-full.px-3.py-2.border.border-gray-300.ronded-md.placeholder-gray-400(placeholder="Escribe tu contraseña" type="password" name="password" )        
                    div 
                        label.block.text-sm.uppercase.text-gray-500.mb-3.font-bold(for="repetir_password") Repetir Contraseña
                        input#repetir_password.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="Repite tu contraseña" type="password" name="repetir_password")         
                    
                    div.flex.items-center.justify-between 
                        a.text-gray-500.text-xs(href="/auth/login") ¿Ya tienes cuenta? Inicia Sesión
                        a.text-gray-500.text-xs(href="/auth/olvide-password") Olvide mi Password 

                    input(class="w-full bg-rosa hover:bg-verde text-white font-bold py-2 cursor-pointer" type="submit" value="Crear cuenta")    
